@model BookWorm.MVC.Models.Book

@{
    ViewData["Title"] = Model.Title + " - Details";
}

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublicationYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublicationYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.Name)
        </dd>
    </dl>
<<<<<<< HEAD
    <h4>Autors:</h4>
    @if(Model.BookContributors != null && Model.BookContributors.Any())
    {
        <ul>
            @foreach(var contributor in Model.BookContributors)
            {
                @if(contributor.ContributorRole.Name == "Autor")
                {
                    <li>@contributor.Contributor.Name</li>
                }
            }
        </ul>
    }
    else
    {
        <p>No active autors available.</p>
    }

=======
>>>>>>> 9275cb8287523d38d4d85e43dbd23cec5e5ff688
    <h4>Contributors:</h4>
    @if(Model.BookContributors != null && Model.BookContributors.Any())
    {
        <ul>
<<<<<<< HEAD
            @foreach(var contributor in Model.BookContributors)
            {
                @if (contributor.ContributorRole.Name != "Autor")
                {
                    <li>@contributor.ContributorRole.Name - @contributor.Contributor.Name</li>
                }
=======
            @foreach (var contributor in Model.BookContributors)
            {
                <li>@contributor.Contributor.Name - @contributor.ContributorRole.Name</li>
>>>>>>> 9275cb8287523d38d4d85e43dbd23cec5e5ff688
            }
        </ul>
    }
    else
    {
        <p>No active contributors available.</p>
    }

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
