@model IEnumerable<BookWorm.MVC.ViewModels.PublisherViewModel>

@{
    ViewData["Title"] = "Publishers";
    var activePublishers = Model?.Where(p => p.IsActive == true);
    var inactivePublishers = Model?.Where(p => p.IsActive == false);
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if(Model != null && Model.Any())
{
    <h3>Active Publishers</h3>

    if(activePublishers != null && activePublishers.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BookCount)
                    </th>
                    <th class="col-3"></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in activePublishers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookCount)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No active publishers available.</p>
    }

    <h3>Inactive Publishers</h3>

    if(inactivePublishers != null && inactivePublishers.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BookCount)
                    </th>
                    <th class="col-3"></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in inactivePublishers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookCount)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No inactive publishers available.</p>
    }
}
else
{
    <p>No publishers available.</p>
}